{% extends 'app_lw_DJ02\layoute.html' %}
{% block title %}
    Страница Новостей
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Урок №3 по изучению фреймворка Django</h1>
        <h2 class="mb-4">Новостная страница</h2>

        {% for new in news %}
            <div class="card mb-4 w-100">
                <div class="card-body">
                    <h3 class="card-title">{{ new.title }}</h3>
                    <p class="card-text">{{ new.short_description }}</p>
                    <button class="btn btn-primary" onclick="toggleFullText('{{ new.id }}')">Подробнее</button>
                    <div id="full-text-{{ new.id }}" class="full-text mt-3" style="display:none;">
                        <p>{{ new.text }}</p>
                        <p class="text-muted">Автор: {{ new.author }} | Дата: {{ new.pub_date }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <script>
        function toggleFullText(newsId) {
            const fullTextDiv = document.getElementById('full-text-' + newsId);
            fullTextDiv.style.display = (fullTextDiv.style.display === 'none') ? 'block' : 'none';
        }
    </script>
{% endblock %}
